<div class="mt-4">
    <h3>Edit course</h3>

    <form class="row g-3" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="col-12">
            <label for="name" class="form-label">Course's name</label>
            <input name="name" type="text" class="form-control" value="{{course.name}}" id="name">
        </div>
        <div class="col-12">
            <label for="description" class="form-label">Course's description</label>
            <textarea name="description" class="form-control" id="description">{{course.description}}</textarea>
        </div>
        <div class="col-12">
            <label for="videoId" class="form-label">Course's videoId</label>
            <input name="videoId" type="text" class="form-control" value="{{course.videoId}}" id="videoId">
        </div>
        <div class="col-12">
            <label for="level" class="form-label">Course's level</label>
            <input name="level" type="text" class="form-control" value="{{course.level}}" id="level">
        </div>
        <div class="col-12">
            <button type="submit" class="btn btn-primary">Save</button>
        </div>
    </form>

</div>